.customBox{
    margin-left:15%;
    margin-right:15%;
    position:relative;
    top:150px;
    margin-bottom:250px;
}

.proImages{
    width:100%;
    
}

.customGrid{
    
}
.inlineText{
    position:relative;
}